@model Webshop.Domain.Models.Product
@{

}

<h1>@Model.Name toegevoegd</h1>

<p>Het product is goed toegevoegd.</p>

<a asp-controller="Product" asp-action="CreateProduct">Voeg een nieuw product toe</a>

